@model Final_Case_Study.Models.EmpLVM
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <style>
        /*table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
            */

        .center {
            margin-left: auto;
            margin-right: auto;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="hidden" style="padding:10px">
        <table class="center" style="width:100%;text-align:center;">
            <thead style="background-color: #04AA6D;">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Grade
                    </th>
                    <th>
                        Name of Manager
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rec in Model.Elst)
                {
                <tr>
                    <td>
                        @rec.Eid
                    </td>
                    <td>
                        @rec.Ename
                    </td>
                    <td>
                        @rec.Deptname
                    </td>
                    <td>
                        @rec.Esal
                    </td>
                    <td>
                        @rec.Egrade
                    </td>
                    <td>
                        @rec.Mname
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>