@model Final_Case_Study.Models.AddEmpVM
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDept</title>
    <style>
        div.form {
            display: block;
            text-align: center;
        }

        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            /*border: 3px solid #f1f1f1;*/
            width: 50%;
            background-color: white;
            padding-top: 2em;
            padding-bottom: 4em;
        }

        /* Full-width inputs */
        .en, .es, .mn, .eg, .dn {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        .btn {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }

        /* Add padding to containers */
        .container {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="form">
        <form method="post">
            <div style="color: #04AA6D;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@ViewBag.Msg</div>
            <div style="color: red;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@ViewBag.ErrMsg</div>
            <div class="container">
                <label for="Ename"><b>Employee Name</b></label>
                @Html.TextBoxFor(m => m.Ename, new { @class = "en", placeholder = "Enter Name of the Employee" })

                <label for="dname"><b>Department</b></label>
                @Html.DropDownListFor(m => m.Deptid, Model.DLst, new { @class = "dn" })

                <label for="grade"><b>Grade</b></label>
                @Html.TextBoxFor(m => m.Egrade, new { @class = "eg", placeholder = "Enter the Grade" })

                <label for="dname"><b>Salary</b></label>
                @Html.TextBoxFor(m => m.Esal, new { @class = "es", placeholder = "Enter the Salary" })

                <label for="Mname"><b>Manager Name</b></label>
                @Html.TextBoxFor(m => m.Mname, new { @class = "mn", placeholder = "Enter Name of the Manager" })

                <button type="submit" class="btn">Edit Employee Details</button>
                <input type="hidden" name="Eid" id="Eid" value="@Model.Eid" />
            </div>
        </form>
    </div>
</body>
</html>
